<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writable Grid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="text-left">Handwritten word evaluation</h1>
        <div class="row mt-4 align-items-center">
            <div class="col-md-2">
                <div class="input-group">
                    <select id="word-select" class="form-control form-control-sm">
                        <option value="" disabled selected>Select a word</option>
                        {% for word in word_options %}
                            <option value="{{ word }}">{{ word }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button id="validate-button" class="btn btn-primary btn-block">Validate</button>
            </div>
            <div class="col-md-2">
                <button id="clear-button" class="btn btn-secondary btn-block">Clear</button>
            </div>            
        </div>
        <div id="grid-container" class="grid-container mt-4 mx-auto">
            <!-- Grid items will be dynamically added here -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
